rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() { return request.auth != null; }
    function isOwner(existingData) { return isSignedIn() && existingData.ownerUid == request.auth.uid; }
    
    match /rendezvousPoints/{id} {
      allow read: if true;
      allow create: if request.resource.data.state == 'UNCLAIMED';
      allow update: if (
        (isSignedIn() && resource.data.state == 'UNCLAIMED' && request.resource.data.state == 'ACTIVE' && request.resource.data.ownerUid == request.auth.uid) ||
        isOwner(resource.data) ||
        (isSignedIn() && exists(/databases/$(database)/documents/admins/$(request.auth.uid)))
      );
      allow delete: if isOwner(resource.data) || (isSignedIn() && exists(/databases/$(database)/documents/admins/$(request.auth.uid)));
    }
  }
}
