rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Catch-all default deny
    match /{document=**} {
      allow read, write: if false;
    }

    function isSignedIn() { return request.auth != null; }
    function isOwner(existingData) { return isSignedIn() && existingData.ownerUid == request.auth.uid; }
    
    function isAdmin() {
      return isSignedIn() && 
        exists(/databases/$(database)/documents/system/admins) &&
        request.auth.uid in get(/databases/$(database)/documents/system/admins).data.uids;
    }

    match /system/admins {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && (request.auth.token.email == 'takashi316@gmail.com' || isAdmin());
    }

    match /users/{uid} {
      allow read, write: if isSignedIn() && request.auth.uid == uid;
    }
    
    match /rendezvousPoints/{id} {
      allow read: if true;
      allow create: if request.resource.data.state == 'UNCLAIMED';
      allow update: if (
        (isSignedIn() && resource.data.state == 'UNCLAIMED' && request.resource.data.state == 'ACTIVE' && request.resource.data.ownerUid == request.auth.uid) ||
        isOwner(resource.data) ||
        isAdmin()
      );
      allow delete: if isOwner(resource.data) || isAdmin();
    }
  }
}
